*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    overflow-x: hidden;
    
    
}
a{
    text-decoration: none;
    color: white;
   
}


.container{ 
    width: 100vw;
    background: -webkit-gradient(linear, left center, left bottom, from(#F8CA25), to(#f3da80)) fixed;
      
        
    .wrapper{
        margin: 0 auto;
       max-width: 1160px;
       padding-left: 30px;
       padding-right: 30px;
     

        .header{
        display: flex;
        flex-direction: column;
        align-items: center;

        .atribuicao-site, a{
            font-size: 0.6em;
            color: #01030f;
           
        }

    }
   
         .logo{
        width:250px;
        margin-top: 15px;
         }
         .link-instagram{
            position: relative;
            z-index: 2;
            bottom:300px;
            right: 12px;
            font-size: 0.9em;
            font-weight: 600;
            color: black;
         }
        .imagem-principal{
        width: 310px;
        position: relative;
        z-index:-5;
         }
       
           .group-button{
        display: flex;
        flex-direction: column;
        align-items: center;

        .button, .buttonAbout{
            display:flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 238.24px;
            height: 51.63px;
            background: #3A55F6;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
            border-radius: 25px;
            border: none;
            margin: 12px;
            color: white;
            font-weight: 600;
            font-size: 1em;
            cursor: pointer;
            
            .icon{
                width: 24px;
            }
            
        }        

    }
    .footer{
        display: flex;
        justify-content: center;
        text-align: center;
        height: 100px;
        margin-top: 30px;
        
        .minhas-redesSociais{
         color:black;
         text-decoration: none;
         img{
            width: 20px;
            margin-left: 10px;
         }

         p{
            font-weight: 600;
            font-size: 14px;
            margin-top: 50px;
           
            font-style: italic;

         }
       } 
    }
 
  

    }


    
}

  
