

dialog{
  background: none;
  border:none;
  width: 100%;

    .close{
        display: flex;
        justify-content: right;
        .button-close{
            background: none;
            border: none;
            cursor: pointer;
        .icon-close{
        width:35px;
        padding-top: 6px;
    }
        }
  
 }
.card-modal{
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
.informacoes{
    width: 420px;
    background-color:#3A55F6;
    height: 250px;
    color: white;
    border-radius: 12px;
    padding: 1.5em 1.5em 1.5em;
    text-align:center;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1.5em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);

         @media(min-width: 320px) {
            width: 330px;
            height:380px;
            margin-bottom: 8px;
          
      
        }   

    }
  
}
  .sessao-vantagens{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    
    
    .texto-vantagens{
         margin-top: 30px;
         font-size: 1em;
         font-weight: 600;
         
         
        .img-vantagens{
            width: 40px;
            margin-right: 20px;
            
            
        }
    }
    
}
}
  dialog::backdrop{
     background: -webkit-gradient(linear, left center, left bottom, from(#F8CA25), to(#f3da80)) fixed;
     
  }