dialog{
  background: none;
  border:none;
  width: 100%;
    .close{
        display: flex;
        justify-content: right;

    .icon-close{
        width:32px;
        padding-top: 10px;
    }
 }
  .card-modal{
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
.informacoes{
    width: 420px;
    background-color:#3A55F6;
    height: 300px;
    color: white;
    border-radius: 12px;
    padding: 2em 2em 2em;
    text-align:center;
    font-size: 1em;
    
 }
  
 }
 
    
}

   



 